---
layout: default
title: existential.us
---
  

    <div class="main-container-index">		
		<!-- 	<section class="projects p0 bg-dark">
                <div class="row masonry-loader fixed-center">
                    <div class="col-sm-12 text-center">
                        <div class="spinner"></div>
                    </div>
                </div>
                <div class="row masonry">
                    {% for post in site.posts %}
                    <div class="col-md-3 col-sm-6 masonry-item project">
                        <div class="image-tile inner-title text-center">
                            <a href="{{ post.url }}">
                                <img alt="Pic" src="{{ post.image }}" />
                                <div class="title">
                                    <h5 class="uppercase mb0 index-title-font">{{ post.title }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </section>
        </div> -->


        <section class="projects">
            <div class="index-masonry">
                <div class="row masonry-loader fixed-center">
                    <div class="col-sm-12 text-center">
                        <div class="spinner"></div>
                    </div>
                </div>
                <div class="row masonry">
                    {% for post in site.posts limit:1 %}
                    <div class="col-md-12 col-sm-6 masonry-item project index-cover">
                        <div class="image-tile inner-title text-center">
                            <a href="{{ post.url }}">
                                <img alt="Pic" src="{{ post.cover }}" />
                                <div class="title">
                                    <h3 class="uppercase mb0 mu30">{{ post.title }}</h4>
                                    <p class="lead mb0">{{ post.content | strip_html | truncatewords: 15 }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        

            <section class=" pt30">
                <div class="container">
                    <div class="row masonry mb40">
                        {% for post in paginator.posts offset:1 %}
                        <div class="col-sm-6 post-snippet masonry-item">
                        <div  class="inner-index">
                            <div>
                                <p class="index-category">{{ post.categories }}</p>
                            </div>
                            <div class="index-masonry-image-1">
                                <div class="index-masonry-image-2">
                                <a href="{{ post.url }}">
                                    <img class="mb8 index-masonry-image" alt="Post Image" src="{{ site.url }}/{{ post.image }}" />
                                </a>
                                </div>
                            </div>
                            <div class="index-mason-text">
                                <a href="{{ post.url }}">
                                    <h5 class="mb0">{{ post.title }}</h5>
                                    <span class="inline-block mb4 date-font">{{ post.date | date_to_string }}</span>
                                
                                <p class="index-mason-font">
                                    {{ post.content | strip_html | truncatewords: 14 }}
                                </p>
                                </a>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            {% if paginator.total_pages > 1 %}
            <section class="bg-secondary">
                <div class="container">
                    <div class="row">
                            <div class="text-center">
                                <ul class="pagination">
                                    {% if paginator.previous_page %}
                                    <li>
                                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li>
                                        {% else %}
                                        {% endif %}
                                    </li>
                                    


                                {% for page in (1..paginator.total_pages) %}
                                    {% if page == paginator.page %}
                                    <li class="active">
                                        <a>{{ page }}</a>
                                    </li>

                                    {% elsif page == 1 %}

                                    <li>
                                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                                    </li>

                                    {% else %}

                                    <li>
                                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    {% if paginator.next_page %}
                                    <li>
                                        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                        {% else %}
                                        {% endif %}
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </section> 
                {% endif %}


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

    </div>