---
layout: default_l
title: lifehacks
---

<div class="main-container">
           
            <section class=" pt30">
                <div class="container">
                    <div class="row masonry mb40">
                        {% for post in site.posts %}
                        {% if post.categories contains 'lifehacks' %}
                        <div class="col-sm-6 post-snippet masonry-item inner-index">
                            <a href="{{ post.url }}">
                                <img class="mb8 index-masonry-image" alt="Post Image" src="{{ post.image }}" />
                            </a>
                            <div class="index-mason-text">
                                <a href="{{ post.url }}">
                                    <h5 class="mb0">{{ post.title }}</h5>
                                    <span class="inline-block mb4 date-font">{{ post.date | date_to_string }}</span>
                                
                                <p class="index-mason-font">
                                    {{ post.content | strip_html | truncatewords: 20 }}
                                </p>
                                </a>
                            </div>
                            
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
    </div>